@model IEnumerable<SurfsUp.Models.Board>

@{
    ViewData["Title"] = "Board Overview";
}

<form asp-controller="Boards" asp-action="Index">
    <p>
        Name: <input type="text" name="SearchString"/>
        <input type="submit" value="Search" />
    </p>
</form>


<h1>Board Overview</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> @Html.DisplayNameFor(model => model.Name) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LengthSortParm"]">  Length(feet) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["WidthSortParm"]"> Width(inches) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ThicknessSortParm"]"> Thickness(inches) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VolumeSortParm"]"> Volume(L) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VolumeSortParm"]"> @Html.DisplayNameFor(model => model.Volume) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]"> @Html.DisplayNameFor(model => model.Price) </a>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRented)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
			<td>
                <img src="@Html.DisplayFor(modelItem => item.imgPath)" width="60" height="60"
                 onerror="this.src='https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg';this.onerror=''" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment)
            </td>
                <td>
					<button name="btnRent">
                        @if (!item.IsRented)
                        {
                            <a asp-action="Rent" asp-route-id="@item.Id">Rent</a>
                        }
					@if (item.IsRented)
                        {
                            <abbr>Rented</abbr>                        }
                    </button>
@*					<input type="button" class="btnRentBoard button" value="Rent"
                        boardID="board.Id"
					   @if (item.IsRented) {
					   @:disabled="disabled";
					   }/>*@
                </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
